

/*css for components*/

/*nav style*/
nav {
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav ul li a {
  font-weight: 500;
}

nav ul li a::after {
  transition: 0.3s ease-in-out;
  background: none repeat scroll 0 0 orangered;
  content: "";
  display: block;
  height: 2px;
  width: 0;
}

nav ul li a:hover::after {
  width: 100%;
}

nav button {
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px 15px;
  font-weight: 500;
}

nav button:hover{
  background-color: rgba(0, 0, 0, 0.058);
}

/*css for contents*/
.content {
  padding: 0 20px;
}